# G2M insight for Cab Investment firm

XYZ is a private firm in US. Due to remarkable growth in the Cab Industry in last few years and multiple key players in the market, it is planning for an investment in Cab industry and as per their Go-to-Market(G2M) strategy they want to understand the market before taking final decision.

The primary objective of this report is to extract meaningful insights from an analysis of two cab companies, with a focus on comprehending their respective usage patterns among customers across the United States. The overarching goal is to furnish XYZ with valuable information that will facilitate informed decision-making regarding strategic investments, thereby paving the way for successful and sustainable growth.

## Import Libraries

In [1]:
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
%config Completer.use_jedi = False

## Load Data

The data set provided contains 4 different files - 
- Cab_data.csv: It contains the information regarding the transactions of 2 cab companies
- City.csv: It contains information regarding the users of the cab companies in different US cities along with their total population
- Customer_ID.csv: It contains the customer information such as salary, age and their transsactions.
- Transaction_ID.csv: It conatins the transactions done by customers and their mode of payments.

In [3]:
os.chdir('..')
currPath = os.getcwd()
currPath = currPath.replace('\\', 
                            '/')
dataPath = currPath + '/Dataset'

In [8]:
## Cab data
cab_data = pd.read_csv(dataPath+'/Cab_data.csv', 
                       encoding='utf-8')

## City data
city_data = pd.read_csv(dataPath+'/City.csv', 
                        encoding='utf-8')

## Customer data
cust_data = pd.read_csv(dataPath+'/Customer_ID.csv', 
                        encoding='utf-8')

## Transaction data
trans_data = pd.read_csv(dataPath+'/Transaction_ID.csv', 
                         encoding='utf-8')

In [10]:
cab_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359392 entries, 0 to 359391
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Transaction ID  359392 non-null  int64
 1   Date of Travel  359392 non-null  int64
 2   Company         359392 non-null  object
 3   City            359392 non-null  object
 4   KM Travelled    359392 non-null  float64
 5   Price Charged   359392 non-null  float64
 6   Cost of Trip    359392 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 19.2+ MB

In [11]:
city_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        20 non-null     object
 1   Population  20 non-null     object
 2   Users       20 non-null     object
dtypes: object(3)
memory usage: 608.0+ bytes

In [12]:
cust_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49171 entries, 0 to 49170
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer ID         49171 non-null  int64
 1   Gender              49171 non-null  object
 2   Age                 49171 non-null  int64
 3   Income (USD/Month)  49171 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [13]:
trans_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440098 entries, 0 to 440097
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Transaction ID  440098 non-null  int64
 1   Customer ID     440098 non-null  int64
 2   Payment_Mode    440098 non-null  object
dtypes: int64(2), object(1)
memory usage: 10.1+ MB